@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #1D212B;
}

h1{
  color: white;
  font-size: 3rem;
  font-family: "Space Mono", monospace;
 
}

label{
  color: white;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: rgb(255, 255, 255);
  z-index:170;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

textarea {
  width: 700px;
  height: 150px;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  border: #f54343;
  border-width: 1cm;
  z-index:170;
  
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f54343;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  z-index:170;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index:170;
}

.button-container button {
  margin: 0 10px;
  z-index:170;
}

.button-container button:hover {
  transform: scale(1.15);
  z-index:170;
}

h1, h2 {
  margin-top: 0;
  z-index:170;
}